node_modules
onchain/.cache
onchain/deployments/default.*
onchain/deployments/
onchain/settings/
!onchain/settings/Devnet.toml
onchain/history.txt
onchain/scripts
src/clarigen
.DS_Store
onchain/.requirements/
onchain/contracts/borrow/deployment_mainnet/add-asset
onchain/contracts/borrow/deployment_mainnet/update
onchain/contracts/borrow/deployment_mainnet/upgrades/borrow-helper
onchain/contracts/borrow/deployment_mainnet/upgrades/zaeusdc
onchain/contracts/borrow/deployment_mainnet/upgrades/zdiko
onchain/contracts/borrow/deployment_mainnet/upgrades/zststx
onchain/contracts/borrow/deployment_mainnet/upgrades/zsusdt
onchain/contracts/borrow/deployment_mainnet/upgrades/zusdh
onchain/contracts/borrow/deployment_mainnet/upgrades/zwstx
onchain/contracts/borrow/deployment_mainnet/update-asset
onchain/contracts/borrow/deployment_mainnet/
.vscode
history.txt